<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<configuration debug="false">
    <property name="LOG_PATH" value="target/logs"/>
    <!-- prevent logback from outputting its own status at the start of every log -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="stdout">
        <Target>System.out</Target>
        <encoder>
            <pattern>%-5p [%d] [%thread] %C:%L - %m %n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <!--<logger name="org.apache.iotdb.db.utils.OpenFileNumUtil" level="debug" />-->
    <!--<logger name="org.apache.iotdb.db.utils.OpenFileNumUtilTest" level="debug" />-->
    <!-- do not print "Can't get the cpu ratio,because this OS:mac os x is not support in test"-->
    <logger name="org.apache.iotdb.db.metrics.server.ServerArgument" level="ERROR"/>
    <!-- enable me if you want to monitor when files are opened and closed.
    <logger name="FileMonitor" level="info"/>
    -->
    <logger name="org.apache.iotdb.db.sync" level="INFO"/>
    <logger name="org.apache.iotdb.db.engine.merge" level="INFO"/>
    <logger name="org.apache.iotdb.db.metadata" level="INFO"/>
    <logger name="org.apache.iotdb.commons.service.ThriftServiceThread" level="INFO"/>
    <logger name="org.eclipse.jetty.util.thread.QueuedThreadPool" level="INFO"/>
    <logger name="org.apache.iotdb.commons.service.metric.MetricService" level="INFO"/>
    <logger name="org.apache.iotdb.db.engine.flush.FlushManager" level="INFO"/>
    <logger name="org.apache.iotdb.db.integration.IoTDBCompactionIT" level="INFO"/>
    <logger name="org.apache.iotdb.db.mpp.common.schematree" level="INFO"/>
    <logger name="org.apache.iotdb.commons.service.RegisterManager" level="INFO"/>
    <logger name="org.apache.iotdb.db.service.DataNode" level="WARN"/>
    <logger name="org.apache.iotdb.db.service.RPCService" level="INFO"/>
    <logger name="org.apache.iotdb.db.service.MQTTService" level="INFO"/>
    <logger name="org.apache.iotdb.db.engine.compaction.cross.rewrite.task" level="ERROR"/>
    <logger name="io.moquette.broker.metrics.MQTTMessageLogger" level="ERROR"/>
    <logger name="DETAILED_FAILURE_QUERY_TRACE" level="ERROR"/>
    <root level="ERROR">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
