# Eclipse IDE files
**/.classpath
**/.project
**/.settings/
# src/main/resources/
# intellij IDE files
**/*.iml
**/.idea/
**/*.log
**/*.ipr
**/*.iws
# Apple OS X related
**/.DS_Store
derby-tsfile-db
# intellj IDE files
**/*.iml
**/.idea/

# Apple OS X related
**/.DS_Store

# build generated
**/target/
**/build/

# intermediately generated locally
**/logs/

*.jar
*.gz
*.tar.gz
*.tar
/data/
#src/test/resources/logback.xml


### Maven ###
grafana/target/
!grafana/.mvn/wrapper/maven-wrapper.jar
grafana/.mvn/

grafana/logs/
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans


### NetBeans ###
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
grafana/data/


**/.DS_Store

**/lib/
*.jar
/target/
*.tsfile
tsfile/src/test/resources/*.ts

### Apache release ###
local-snapshots-dir/
