target/
tools/site/node_modules/
tools/site/docs/*
!tools/site/docs/.vuepress/
tools/site/docs/.vuepress/theme/
tools/site/docs/.vuepress/dist/
tools/auto-document/*.aux
tools/auto-document/*.log
tools/auto-document/*.out
tools/auto-document/*.pdf
tools/auto-document/*.synctex.gz
tools/auto-document/*.tex.bak
tools/auto-document/*.toc
tools/auto-document/*.synctex(busy)
tools/auto-document/output_zh
tools/auto-document/output_en
tools/auto-document/marktex/__pycache__
tools/auto-document/marktex/markast/__pycache__
tools/auto-document/marktex/texparser/__pycache__
.idea/
*.iml
src/main/java/apache/iotdb/quality/iotdb/quality/dprofile/SegmentTest.java
.DS_Store
module_conf/
out/